@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&display=swap');

:root {
    --cor-principal: black;
    --cor-secundaria: yellow;
    --cor-fonte: white;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

p{
    text-indent: 30px;
}

h2 {
    text-align: center;
}

footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    text-align: center;
}

a{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: var(--cor-principal);
    border:3px var(--cor-secundaria) solid;
    background-color: var(--cor-secundaria);
}

/*CLASSES*/


.Titulo-principal {
    font-family: 'Inconsolata', monospace;
    font-size: 90px;
    text-align: center;
    background-color: var(--cor-secundaria);
    margin-top: 0;
    border-bottom: 4px var(--cor-secundaria) solid;
    color: var(--cor-principal);
}

.texto.principal {
    color: var(--cor-fonte);
    font-family: 'Inconsolata', monospace;
}

